<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- src/main/resources/mappers/PaymentMapper.xml -->

<mapper namespace="com.example.payment.mapper.PaymentMapper">
    <select id="findAllWallets" resultType="com.example.payment.dto.response.WalletResponseDTO">
        SELECT
            wallet_id::varchar AS walletId,
            member_id AS memberId,
            balance,
            status,
            version,
            created_at AS createdAt,
            updated_at AS updatedAt
        FROM pay.wallets
        ORDER BY created_at DESC
    </select>

    <select id="getBalanceByMemberId" resultType="Long">
        SELECT balance 
        FROM pay.wallets 
        WHERE member_id = #{memberId}
    </select>
    
</mapper>
